.table2{
      margin-top: -17px;
  }
.pic2{
      width: 30px;    
  }
.FirstName2{
    width: 150px;
    text-align: left
}
.LastName2{
    width: 150px;
    text-align: left
}
.Email2{
    text-align: left
}